apiVersion: v1
baseDomain: vrutkovs.eu
clusterID: {{ 99999999 | random | to_uuid }}
metadata:
  name: {{ lookup('env', "CLUSTER") }}
platform:
  openstack:
    cloud:           shiftstack
    externalNetwork: provider_net_shared_3
    computeFlavor:   m1.xlarge
    lbFloatingIP:    10.0.109.51
networking:
  machineCIDR: 10.0.128.0/17
  networkType: OVNKubernetes
imageContentSources:
- mirrors:
  - quay.io/vrutkovs/okd-release
  source: registry.ci.openshift.org/origin/4.4-2020-02-28-211838
- mirrors:
  - quay.io/vrutkovs/okd-release
  source: registry.ci.openshift.org/origin/release
pullSecret: |
  {{ lookup('file', lookup('env', "PULL_SECRET")) | indent(2) }}
sshKey: |
  {{ lookup('file', "ssh-publickey") | indent(2) }}
