apiVersion: v1
baseDomain: {{ lookup('env', "BASE_DOMAIN") }}
clusterID: {{ 99999999 | random | to_uuid }}
metadata:
  name: {{ lookup('env', "CLUSTER") }}
platform:
  aws:
    region: us-east-1
pullSecret: |
  {{ lookup('file', "pull_secret_minimal.json") | indent(2) }}
sshKey: |
  {{ lookup('file', "ssh-publickey") | indent(2) }}
