apiVersion: v1
baseDomain: {{ lookup('env', "BASE_DOMAIN") }}
clusterID: {{ 99999999 | random | to_uuid }}
metadata:
  name: {{ lookup('env', "USERNAME") }}
networking:
  machineCIDR: "139.178.89.192/26"
platform:
  vsphere:
    vCenter: vcsa.vmware.devcluster.openshift.com
    username: {{ lookup('env', "VSPHERE_USER") }}
    password: {{ lookup('env', "VSPHERE_PASSWORD") }}
    datacenter: dc1
    defaultDatastore: nvme-ds1
pullSecret: |
  {{ lookup('file', lookup('env', "PULL_SECRET")) | indent(2) }}
sshKey: |
  {{ lookup('file', "ssh-publickey") | indent(2) }}
