// ID identifying the cluster to create. Use your username so that resources created can be tracked back to you.
cluster_id = "vrutkovs"

// Domain of the cluster. This should be "${cluster_id}.${base_domain}".
cluster_domain = "vrutkovs.devcluster.openshift.com"

// Base domain from which the cluster domain is a subdomain.
base_domain = "devcluster.openshift.com"

// Set extra users helpful for logging into the machines from the vSphere web UI.
//extra_user_names = ["me"]
//extra_user_password_hashes = ["$1$d51URPHU$NQGWywqfyGHYJrKK7GsOQ1"]

// Name of the vSphere server. The dev cluster is on "vcsa.vmware.devcluster.openshift.com".
vsphere_server = "vcsa.vmware.devcluster.openshift.com"

// Name of the vSphere cluster. The dev cluster is "devel".
vsphere_cluster = "devel"

// Name of the vSphere data center. The dev cluster is "dc1".
vsphere_datacenter = "dc1"

// Name of the vSphere data store to use for the VMs. The dev cluster uses "nvme-ds1".
vsphere_datastore = "nvme-ds1"

// Name of the VM template to clone to create VMs for the cluster. The dev cluster has a template named "rhcos-latest".
vm_template = "rhcos-latest"

machine_cidr = "139.178.73.0/26"

ipam = "139.178.89.254"

// URL of the bootstrap ignition. This needs to be publicly accessible so that the bootstrap machine can pull the ignition.
bootstrap_ignition_url = "{{ lookup('pipe', "cat " + lookup('env', "DIR") + "/bootstrap.ign | curl -F 'sprunge=<-' http://sprunge.us") }}"

// Ignition config for the control plane machines. You should copy the contents of the master.ign generated by the installer.
control_plane_ignition = <<END_OF_MASTER_IGNITION
{{ lookup('file', lookup('env', "DIR")+"/master.ign") }}
END_OF_MASTER_IGNITION

// Ignition config for the compute machines. You should copy the contents of the worker.ign generated by the installer.
compute_ignition = <<END_OF_WORKER_IGNITION
{{ lookup('file', lookup('env', "DIR")+"/worker.ign") }}
END_OF_WORKER_IGNITION
