apiVersion: v1
platform:
  gcp:
    projectID: openshift-gce-devel
    region: europe-west2
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineCIDR: 10.0.0.0/16
  serviceNetwork:
  - 172.30.0.0/16
  networkType: none
