apiVersion: v1
platform:
  gcp:
    projectID: openshift-gce-devel
    region: europe-west3
compute:
- name: worker
  replicas: 0
controlPlane:
  name: master
  replicas: 1
  platform:
    gcp:
      type: n2-highcpu-8
capabilities:
  baselineCapabilitySet: None
