apiVersion: v1
baseDomain: vrutkovs.eu
platform:
  openstack:
    cloud:           shiftstack
    externalNetwork: provider_net_shared_3
    computeFlavor:   m1.xlarge
    lbFloatingIP:    10.0.109.51
networking:
  machineCIDR: 10.0.128.0/17
  networkType: OVNKubernetes
