apiVersion: v1
networking:
  machineCIDR: "139.178.89.192/26"
compute:
- hyperthreading: Enabled
  name: worker
  platform: {}
  replicas: 2
controlPlane:
  hyperthreading: Enabled
  name: master
  platform: {}
  replicas: 3
platform:
  vsphere:
    vCenter: vcsa.vmware.devcluster.openshift.com
    username: {{ lookup('env', "VSPHERE_USER") }}
    password: {{ lookup('env', "VSPHERE_PASSWORD") }}
    datacenter: dc1
    defaultDatastore: nvme-ds1
    apiVIP: {{ lookup('env', "VSPHERE_APIVIP") }}
    ingressVIP: {{ lookup('env', "VSPHERE_INGRESSVIP") }}
    cluster: devel
    network: "VM Network"
